@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

.start_button_outer {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 95px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #808080;
    border: 2px solid white;
    cursor: pointer;
}

.start_button_fade_in {
    animation: fade_in 1s forwards;
}
.start_button_fade_out {
    animation: fade_out_full 1s forwards;
}
.menus_fade_in {
    animation: fade_in 1s forwards;
}
.menus_fade_out {
    animation: fade_out_full 0.5s forwards;
}

@keyframes start_button_move {
    from {
        left: 50%;
    }
    to {
        left: calc(20vw + 40px + 3% + 100px)
    }
}
@keyframes start_button_move_back {
    from {
        left: calc(20vw + 40px + 3% + 100px)
    }
    to {
        left: 50%;
    }
}
.start_button_outer:hover .start_button_inner {
    background-color: rgb(200, 200, 200);
}
.start_button_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    transition: 0.2s;
}
.start_button_svg {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='512px' height='512px' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eionicons-v5-j%3C/title%3E%3Cpath d='M332.64,64.58C313.18,43.57,286,32,256,32c-30.16,0-57.43,11.5-76.8,32.38-19.58,21.11-29.12,49.8-26.88,80.78C156.76,206.28,203.27,256,256,256s99.16-49.71,103.67-110.82C361.94,114.48,352.34,85.85,332.64,64.58Z'/%3E%3Cpath d='M432,480H80A31,31,0,0,1,55.8,468.87c-6.5-7.77-9.12-18.38-7.18-29.11C57.06,392.94,83.4,353.61,124.8,326c36.78-24.51,83.37-38,131.2-38s94.42,13.5,131.2,38c41.4,27.6,67.74,66.93,76.18,113.75,1.94,10.73-.68,21.34-7.18,29.11A31,31,0,0,1,432,480Z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px
}

.hidden_menu {
    display: none;
    opacity: 0;
}

.left_box_outer {
    position: absolute;
    left: 3%;
    top: 50%;
    translate: 0 -50%;
    height: 75vh;
    width: 20vw;
    background-color: white;
    border-radius: 4px;
}
.arrow_right {
    border:solid 40px transparent;
    border-left-color:white;
    position:absolute;
    left: 100%;
    top: 50%;
    translate: 0 -50%;
}
.arrow_left {
    border:solid 20px transparent;
    border-right-color:rgb(255, 255, 255);
    position:absolute;
    left: 0;
    top: 50%;
    translate: -100% -50%;
}
.floating_arrow_left {
    border:solid 30px transparent;
    border-right-color:rgb(255, 255, 255);
    position:absolute;
    left: 0;
    top: 50%;
    translate: -120% -50%;
}

.shows_box_outer {
    position: absolute;
    left: calc(20vw + 40px + 3% + 100px + 95px + 15px);
    top: 50%;
    translate: 0 -50%;
    width: 20vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    cursor: pointer;
    border-radius: 2px;
}
.credits_box_outer {
    position: absolute;
    left: calc(20vw + 40px + 3% + 100px + 95px + 15px);
    top: calc(50% - 100px);
    translate: 0 -50%;
    width: 20vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
    cursor: pointer;
    border-radius: 2px;
}
.settings_box_outer {
    position: absolute;
    left: calc(20vw + 40px + 3% + 100px + 95px + 15px);
    top: calc(50% + 100px);
    translate: 0 -50%;
    width: 20vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
    cursor: pointer;
    border-radius: 2px;
}

.menu_icon {
    position: absolute;
    height: 50px;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    top: 50%;
    left: 5%;
    translate: 0 -50%;
}
.credits_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' fill='%231E1E1E'/%3E%3Ccircle cx='100' cy='100' r='100' fill='%23808080'/%3E%3Cpath d='M182.631 80.8032C181.743 78.0814 179.381 76.0978 176.538 75.6868L128.328 68.7097L106.767 25.1907C105.496 22.6248 102.872 21 100 21C97.1272 21 94.5034 22.6248 93.2325 25.1907L71.6733 68.7092L23.4618 75.6863C20.6192 76.0978 18.257 78.0814 17.3695 80.8027C16.482 83.5244 17.2221 86.5118 19.2794 88.509L54.1652 122.378L45.9266 170.212C45.4411 173.032 46.6048 175.882 48.9287 177.564C50.2434 178.516 51.8006 179 53.3653 179C54.5662 179 55.7722 178.715 56.8765 178.137L99.9995 155.555L143.122 178.137C144.233 178.718 145.449 178.995 146.654 179C150.818 178.994 154.191 175.631 154.191 171.483C154.191 170.905 154.125 170.343 154.001 169.803L145.834 122.379L180.72 88.509C182.778 86.5118 183.518 83.5244 182.631 80.8032Z' fill='white'/%3E%3C/svg%3E%0A");
}
.shows_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='200' fill='%231E1E1E'/%3E%3Ccircle cx='100' cy='100' r='100' fill='%23808080'/%3E%3Crect x='27' y='57' width='145.352' height='72.6761' rx='5' fill='black'/%3E%3Crect x='27' y='57' width='145.352' height='72.6761' rx='5' fill='black'/%3E%3Crect x='27' y='57' width='145.352' height='72.6761' rx='5' fill='white'/%3E%3Crect x='75.4507' y='129.676' width='48.4507' height='6.05634' rx='1' fill='black'/%3E%3Crect x='75.4507' y='129.676' width='48.4507' height='6.05634' rx='1' fill='black'/%3E%3Crect x='75.4507' y='129.676' width='48.4507' height='6.05634' rx='1' fill='white'/%3E%3Crect x='63.338' y='135.732' width='72.6761' height='7.26761' rx='1' fill='black'/%3E%3Crect x='63.338' y='135.732' width='72.6761' height='7.26761' rx='1' fill='black'/%3E%3Crect x='63.338' y='135.732' width='72.6761' height='7.26761' rx='1' fill='white'/%3E%3Crect x='35' y='64' width='130' height='58' rx='2' fill='black'/%3E%3Crect x='35' y='64' width='130' height='58' rx='2' fill='black'/%3E%3Crect x='35' y='64' width='130' height='58' rx='2' fill='%23808080'/%3E%3C/svg%3E%0A");
}
.settings_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='202' viewBox='0 0 200 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200' height='202' fill='%231E1E1E'/%3E%3Ccircle cx='100' cy='101' r='100' fill='%23808080'/%3E%3Cpath d='M55.1603 11.6238C52 13 45.5 17 41 20.2631V182C41 182 48.5 187 55.1603 190.5V11.6238ZM107.08 1.2405C104.5 1.00001 100 0.500007 92.9201 1.2405V199.469V200.754C97 201 97.5 201.5 107.08 200.754V1.2405ZM158.986 20.2519C158 19.5 158 18.5 144.84 11.5V190.5C151 187.5 159 181.77 159 181.77L159.007 20.2519C159 20 158.986 20.2519 158.986 20.2519Z' fill='white'/%3E%3Cpath d='M48.5292 38.4952C36.8807 38.4952 27.4354 47.9453 27.4354 59.589C27.4354 71.2374 36.8807 80.6827 48.5292 80.6827C60.1777 80.6827 69.623 71.2374 69.623 59.589C69.623 47.9453 60.1777 38.4952 48.5292 38.4952ZM100.092 80.6827C88.4434 80.6827 78.9981 90.1371 78.9981 101.777C78.9981 113.425 88.4434 122.87 100.092 122.87C111.736 122.87 121.186 113.425 121.186 101.777C121.186 90.1323 111.736 80.6827 100.092 80.6827ZM151.654 38.4952C140.01 38.4952 130.56 47.9453 130.56 59.589C130.56 71.2374 140.01 80.6827 151.654 80.6827C163.297 80.6827 172.747 71.2374 172.747 59.589C172.748 47.9453 163.297 38.4952 151.654 38.4952Z' fill='%23808080'/%3E%3Cpath d='M151.654 38.4952C140.01 38.4952 130.56 47.9453 130.56 59.589C130.56 71.2374 140.01 80.6827 151.654 80.6827C163.297 80.6827 172.747 71.2374 172.747 59.589C172.748 47.9453 163.297 38.4952 151.654 38.4952ZM151.654 73.6511C143.9 73.6511 137.591 67.3416 137.591 59.5884C137.591 51.8353 143.9 45.5257 151.654 45.5257C159.407 45.5257 165.716 51.8353 165.716 59.5884C165.716 67.3416 159.407 73.6511 151.654 73.6511ZM100.092 80.6827C88.4434 80.6827 78.9981 90.1371 78.9981 101.777C78.9981 113.425 88.4434 122.87 100.092 122.87C111.736 122.87 121.186 113.425 121.186 101.777C121.186 90.1323 111.736 80.6827 100.092 80.6827ZM100.092 115.839C92.3388 115.839 86.0292 109.529 86.0292 101.776C86.0292 94.0277 92.3388 87.7133 100.092 87.7133C107.845 87.7133 114.155 94.0271 114.155 101.776C114.154 109.53 107.845 115.839 100.092 115.839ZM48.5292 38.4952C36.8807 38.4952 27.4354 47.9453 27.4354 59.589C27.4354 71.2374 36.8807 80.6827 48.5292 80.6827C60.1777 80.6827 69.623 71.2374 69.623 59.589C69.623 47.9453 60.1777 38.4952 48.5292 38.4952ZM48.5292 73.6511C40.7761 73.6511 34.4665 67.3416 34.4665 59.5884C34.4665 51.8353 40.7761 45.5263 48.5292 45.5263C56.2824 45.5263 62.5919 51.8358 62.5919 59.589C62.5919 67.3421 56.2824 73.6511 48.5292 73.6511Z' fill='white'/%3E%3C/svg%3E%0A");
}

#credits_arrow { display: none }
#shows_arrow { display: block }
#settings_arrow { display: none }

@keyframes fade_out {
    to {
        opacity: 0.1;
    }
}
@keyframes fade_out_full {
    to {
        opacity: 0;
    }
}
@keyframes fade_in {
    to {
        opacity: 1;
    }
}

.shows_menu_inner {
    position: absolute;
    left: calc(20vw + 40px + 3% + 100px + 95px + 15px + 20vw + 50px + 50px);
    width: 25vw;
    height: 80px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.shows_menu_num1 {
    top: calc(50% - 400px);
    translate: 0 -50%;
}
.shows_menu_num2 {
    top: calc(50% - 300px);
    translate: 0 -50%;
}
.shows_menu_num3 {
    top: calc(50% - 200px);
    translate: 0 -50%;
}
.shows_menu_num4 {
    top: calc(50% - 100px);
    translate: 0 -50%;
}
.shows_menu_num5 {
    top: 50%;
    translate: 0 -50%;
}
.shows_menu_num6 {
    top: calc(50% + 100px);
    translate: 0 -50%;
}
.shows_menu_num7 {
    top: calc(50% + 200px);
    translate: 0 -50%;
}
.shows_menu_num8 {
    top: calc(50% + 300px);
    translate: 0 -50%;
}
.shows_menu_num9 {
    top: calc(50% + 400px);
    translate: 0 -50%;
}

.right_box_outer {
    position: absolute;
    left: calc(20vw + 40px + 3% + 100px + 95px + 15px + 20vw + 50px + 50px);
    top: 50%;
    translate: 0 -50%;
    height: 75vh;
    width: 25vw;
    background-color: white;
    border-radius: 4px;
}
.arrow_left_big {
    border:solid 40px transparent;
    border-right-color:white;
    position:absolute;
    left: 0;
    top: 50%;
    translate: -100% -50%;
}

.main_box_titles {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 30px;
    font-weight: bold;
    font-family: Inika;
    pointer-events: none;
    text-decoration: none;
    color: black
}

.computer_window {
    display: none;
}
.mobile_window {
    display: none;
}

@media screen and (orientation: landscape) {
    .computer_window {
        display: block;
    }
}
@media screen and (orientation: portrait) {
    .mobile_window {
        display: block;
    }
}

.mob_menus {
    display: none;
    opacity: 0;
}

.credits_box_mob {
    position: absolute;
    left: 50%;
    top: calc(50% - 60px - 20px);
    translate: -50% -50%;
    height: 60px;
    width: 55vw;
    background-color: white;
}
.shows_box_mob {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 60px;
    width: 55vw;
    background-color: white;
}
.settings_box_mob {
    position: absolute;
    left: 50%;
    top: calc(50% + 60px + 20px);
    translate: -50% -50%;
    height: 60px;
    width: 55vw;
    background-color: white;
}