@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Teko&display=swap');

:root {
    --main-color: white;
    --sub-color: grey;
    --sub-color-more: rgb(66, 66, 66);
    --anti-color: black;
}

html {
    cursor: url("images/logo_32x32.png") 16 16, auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
}

.video_screen {
    position: absolute;
    left: 0;
    top: 45vh;
    translate: 0% -50%;
    width: 100vw;
    height: 25vh;
}

.prev_ep_button {
    left: 0;
}
.next_ep_button {
    right: 0;
}
.ep_buttons {
    position: absolute;
    top: calc(45vh + 150px);
    width: calc(50vw - 60px - 2px);
    height: 50px;
    background-color: var(--sub-color);
    cursor: pointer;
    transition: 0.5s;
    color: var(--anti-color);
    border-radius: 5px;
}
.color_switch_button {
    top: calc(45vh + 150px);
    width: calc(10vh);
    height: 50px;
    left: 50%;
    translate: -50%
}
.ep_buttons:hover {
    background-color: var(--sub-color-more);
    color: var(--main-color)
}

.center_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.ep_button_txt {
    font-weight: bold;
    font-size: 30px;
    pointer-events: none;
}

.show_profile_pic {
    position: absolute;
    background-image: url("images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25vw;
    aspect-ratio: 1/1;
    z-index: 997;
    margin: 1%;
    transition: 0.1s;
}
.show_profile_pic:hover {
    rotate: -30deg;
}


.episode_num {
    position: absolute;
    margin-top: 1vh;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    color: var(--anti-color);
    translate: -50%;
    font-family: Josefin Sans;
}
.episode_title {
    position: absolute;
    margin-top: 8vh;
    left: 50%;
    font-size: 40px;
    color: var(--anti-color);
    translate: -50%;
    font-family: Teko;
    width: 100%;
    text-align: center;
}

.color_toggle_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 30px;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    border-radius: 5px;
    pointer-events: none;
}
.fullscreen_switch_button {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 30px;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    border-radius: 5px;
    z-index: 999;
}
.fullscreen_button_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 489.001 489.001' style='enable-background:new 0 0 489.001 489.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M2.2,168.151l-2.1-151.3c-0.1-7.7,6.2-14,13.9-13.9l151.3,2.2c12.1,0.2,18.1,14.8,9.5,23.4l-42.1,42.1l70,70l-65,65 l-70-70l-42.1,42.1C17.1,186.251,2.4,180.251,2.2,168.151z'/%3E%3Cpath d='M421.3,136.551l42.1,42.1c8.6,8.6,23.2,2.6,23.4-9.5l2.2-151.3c0.1-7.7-6.2-14-13.9-13.9l-151.3,2.2 c-12.1,0.2-18.1,14.8-9.5,23.4l42,41.9l-70,70l65,65L421.3,136.551z'/%3E%3Cpath d='M314.2,460.451c-8.6,8.6-2.6,23.2,9.5,23.4l151.3,2.2c7.7,0.1,14-6.2,13.9-13.9l-2.2-151.3c-0.2-12.1-14.8-18.1-23.4-9.5 l-42.1,42.1l-70-70l-65,65l70,70L314.2,460.451z'/%3E%3Cpath d='M14,485.051l151.3-2.2c12.1-0.2,18.1-14.8,9.5-23.4l-42.1-42l70-70l-65-65l-70,70l-42.1-42.1c-8.6-8.6-23.2-2.6-23.4,9.5 L0,471.151C0,478.851,6.3,485.151,14,485.051z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60%;
    pointer-events: none;
    aspect-ratio: 1/1;
}

@media screen and (orientation: landscape) {
    .video_screen {
        left: 50%;
        translate: -50% -50%;
        width: 800px;
        height: 450px;
        border-radius: 5px;
        border: none;
    }
    .prev_ep_button {
        top: calc(45vh + 280px);
        width: 320px;
        height: 50px;
        left: calc(50vw - 400px);
    }
    .color_switch_button {
        top: calc(45vh + 280px);
        width: 145px;
        height: 50px;
        left: 50%;
        translate: -50%
    }
    .fullscreen_switch_button {
        top: calc(45vh + 280px + 50px + 10px);
        width: 200px;
        height: 50px;
        left: 50%;
        translate: -50%;
        background-color: var(--sub-color);
    }
    .next_ep_button {
        top: calc(45vh + 280px);
        width: 320px;
        height: 50px;
        left: calc(50vw + 80px);
    }
    .show_profile_pic {
        position: absolute;
        background-image: url("images/logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10vw;
        aspect-ratio: 1/1;
    }
    .episode_num {
        position: absolute;
        margin-top: 1vh;
        left: 50%;
        font-size: 40px;
        font-weight: bold;
        color: var(--anti-color);
        translate: -50%;
        font-family: Josefin Sans;
    }
    .episode_title {
        position: absolute;
        margin-top: 8vh;
        left: 50%;
        font-size: 40px;
        color: var(--anti-color);
        translate: -50%;
        font-family: Teko;
    }
}




.doughnut {
    position: absolute;
    background-image: url("images/DOUGHNUT.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    aspect-ratio: 1/1;
    left: 0;
    bottom: 0;
    margin: 2%;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 0px 10px rgb(48, 48, 48));
}

.rengoku_jumpscare {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: none
}

.rengoku {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-image: url("images/rengoku.jpg");
    height: 60vh;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
}

.rengoku_nice {
    position: absolute;
    left: 50%;
    top: -400%;
    translate: -50%;
    height: 200px;
    width: 100px;
    background-image: url("images/rengokuNice.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none
}